{% extends 'base.html' %}

{% block contenido %}
{% load static %}
<html>
<head>
	<br>
	<h1><Center><FONT COLOR="RED">ESI COMPUTACION</font></Center></h1>
	<br>
	</br>
</head>
	<h2><center><FONT COLOR="RED">VISION</font></center></h2>
	<p><FONT COLOR="BLUE">Ser una institución  lider en la formacion de personas profesionales encargados del avance y del cambio  tegnológico,  capaces de aprender  participativamente, proporcionando herramientas  eficaces para que tengan un alto desempeño en sus actividades y conseguir su formacion integral 
    con principios, valores y la convicción de ser capaces en sus ámbito laboral </FONT></p>

	<h2><center><FONT COLOR="RED">MISION</font></center></h2>
	<p><FONT COLOR="BLUE">Somos una institucion  educativa competente que brinda  servicios de computación  actualizada, para ser eficiente y eficaz y estar a la vanguardia  de la tecnología, con esto generar oportunidades  de aprendizaje en el campo  de la tecnologia, orientada a la comunidad  educativa que esta  necesitada , contando con todos los recursos  existentes para brindarles  al municipio de San Pedro Sacatepequez, San Marcos y sociedad en general un desarrollo tecnológico, y mejorar la calidad de vida para los estudiantes y también respetando las directrices, del Ministerio de Educación, para que nuestros alumnos egresados tengan mejores oportunidades de trabajo</FONT>
 </p>
 <br>
 <br>
</html>
{% endblock %}